---
import type { ParagraphBlock } from "../../../types/content.js";
import { mergeClassName } from "../../../utils/classes.js";
import ContentRenderer from "../../ContentRenderer.astro";

export interface Props {
	content: ParagraphBlock;
}

const { content } = Astro.props;
---

<p class={mergeClassName("text-gray-700 leading-relaxed", content.className)} id={content.id}>
  {content.text}
  {content.children?.map(child => (
    <ContentRenderer content={child} />
  ))}
</p>