---
import type { TabBlock } from "../../../types/content.js";
import { mergeClassName } from "../../../utils/classes.js";
import ContentRenderer from "../../ContentRenderer.astro";

export interface Props {
	content: TabBlock;
}

const { content } = Astro.props;
---

<div class={mergeClassName("flex flex-col gap-4", content.className)} id={content.id}>
  {content.children?.map(child => (
    <ContentRenderer content={child} />
  ))}
</div>