---
import type { LinkBlock } from "../../../types/content.js";
import { mergeClassName } from "../../../utils/classes.js";
import { buildUrl } from "../../../utils/content.js";

export interface Props {
	content: LinkBlock;
}

const { content } = Astro.props;

const linkProps = content.external
	? { target: "_blank", rel: content.rel || "noopener noreferrer nofollow" }
	: {};

const href = content.external ? content.href : buildUrl(content.href);
---

<a
  href={href}
  class={mergeClassName("text-orange-500 hover:text-neutral-100 transition-colors", content.className)}
  id={content.id}
  {...linkProps}
>
  {content.text}
</a>
